* {
    font-family: "JetBrains Mono", "FiraCode Nerd Font", "FiraCode", "Nerd Font", "FontAwesome", sans-serif;
    font-size: 14px;
}

window {
    background: #282828;
    color: #ebdbb2;
}

#workspaces button.active {
    background: #d79921;
    color: #282828;
}

#workspaces button {
    background: #504945;
    color: #ebdbb2;
}

#clock, #custom-network, #custom-volume, #custom-battery, #custom-clipboard, #custom-updates, #tray {
    background: #282828;
    color: #ebdbb2;
    border-radius: 6px;
    padding: 0 10px;
    margin: 0 2px;
    transition: background 0.2s;
}

#custom-network:hover, #custom-volume:hover, #custom-battery:hover, #custom-clipboard:hover, #custom-updates:hover {
    background: #d79921;
    color: #282828;
    cursor: pointer;
}
